<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
          <% @cocktails.each do |cocktail| %>
             <li class="list-group-item">
               <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
               <%= link_to "Delete", cocktail_path(cocktail.id), method: :DELETE, class:"btn btn-default btn-xs" %>
             </li>
          <% end %>
        </ul>
      <%= link_to "Let's cocktail!", new_cocktail_path, class:"btn btn-success" %>
    </div>
  </div>
</div>


